html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #1f1f1f;
}

.container {
  max-width: 1760px;
  padding: 0 20px;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #1f1f1f;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

strong {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #1f1f1f;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 118.68%;
}

h3 {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 49.8113px;
  line-height: 118.68%;
}

input {
  outline: none;
  -webkit-transition: ease-in-out 0.1s;
  transition: ease-in-out 0.1s;
}

input[type="text"] {
  border: 2.15385px solid #bdbdbd;
  border-radius: 12.9231px;
}

input[type="text"]:focus {
  background-color: #ffe600;
  border: 2.15385px solid #ffe600;
}

input[type="text"]:focus input[type="text"]::-webkit-input-placeholder {
  color: white;
}

input[type="text"]:focus input[type="text"]:-ms-input-placeholder {
  color: white;
}

input[type="text"]:focus input[type="text"]::-ms-input-placeholder {
  color: white;
}

input[type="text"]:focus input[type="text"]::placeholder {
  color: white;
}

button {
  cursor: pointer;
}

.header {
  display: block;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 178px;
  margin-top: 40px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #f2e464;
}

.header-top__logo img {
  height: 76px;
  margin-bottom: 8px;
  display: block;
}

.messengers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 127px;
}

.messengers .messenger + .messenger {
  margin-left: 20px;
}

.messengers .messenger {
  -webkit-transition: ease-in-out 0.1s;
  transition: ease-in-out 0.1s;
}

.messengers .messenger__img {
  height: 41px;
  width: 41px;
  display: block;
}

.messengers .messenger:hover {
  -webkit-transform: translateY(-2px) scale(1.1);
          transform: translateY(-2px) scale(1.1);
}

.header-bottom {
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-bottom .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-bottom .nav__li + .nav__li {
  margin-left: 50px;
}

.header-bottom .nav__link {
  font-size: 23.9404px;
  line-height: 33px;
  -webkit-transition: ease-in-out 0.1s;
  transition: ease-in-out 0.1s;
}

.header-bottom .nav__link:hover {
  color: #f2e464;
}

.phone a {
  display: block;
}

.phone .phone__call {
  margin-right: 27px;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
}

.phone .phone__recall {
  font-size: 20px;
  line-height: 27px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-transition: ease-in-out 0.1s;
  transition: ease-in-out 0.1s;
}

.phone .phone__recall:hover {
  color: #f2e464;
}

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.about .container .header-content {
  max-width: 698px;
}

.about .container .header-content .header-content__text {
  margin-top: 55px;
  margin-bottom: 226px;
  font-size: 36px;
  line-height: 49px;
}

.about .container .header-content .header-content__button {
  color: #1f1f1f;
  font-weight: 600;
  background-color: #ffe600;
  -webkit-box-shadow: 5px -2px 25px rgba(255, 255, 255, 0.5);
          box-shadow: 5px -2px 25px rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 100px;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  display: inline-block;
  font-size: 30px;
  line-height: 41px;
  padding: 44px 52px;
}

.about .container .header-content .header-content__button:hover {
  -webkit-box-shadow: -2.09231px 46.0308px 70.0923px -29.2923px rgba(255, 230, 0, 0.89), inset 1.04615px -9.41538px 12.5538px rgba(0, 0, 0, 0.13), inset 5.23077px -2.09231px 26.1538px rgba(255, 255, 255, 0.5);
          box-shadow: -2.09231px 46.0308px 70.0923px -29.2923px rgba(255, 230, 0, 0.89), inset 1.04615px -9.41538px 12.5538px rgba(0, 0, 0, 0.13), inset 5.23077px -2.09231px 26.1538px rgba(255, 255, 255, 0.5);
}

.about .container .about__img {
  width: 938px;
  height: 1062px;
  display: block;
}

.promotion {
  margin-top: 208px;
}

.promotion__header {
  text-align: center;
}

.promotion .promotion__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.promotion .promotion__content .promotion-card {
  margin-top: 120px;
  width: 390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promotion .promotion__content .promotion-card:hover .promotion-card__img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.promotion .promotion__content .promotion-card__img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 262px;
  max-height: 262px;
  border-radius: 100%;
  overflow: hidden;
  border: 2px solid #e0e0e0;
}

.promotion .promotion__content .promotion-card__img {
  display: block;
  margin: auto;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
}

.promotion .promotion__content .promotion-card__text {
  margin-top: 38.8px;
  text-align: center;
}

.promotion .promotion__content .promotion-card__text strong {
  word-wrap: break-word;
}

.principles {
  margin-top: 208px;
}

.principles__header {
  text-align: center;
}

.principles .principles__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.principles .principles__content .principles-card {
  margin-top: 120px;
  width: 279px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.principles .principles__content .principles-card:hover .principles-card__img {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.principles .principles__content .principles-card__img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 146px;
}

.principles .principles__content .principles-card__img {
  display: block;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.principles .principles__content .principles-card__text {
  margin-top: 38.8px;
  text-align: center;
  font-size: 36px;
  line-height: 118.68%;
}

.connection {
  margin-top: 208px;
}

.connection__header {
  margin: 0 auto;
  max-width: 853px;
  text-align: center;
}

.connection .connection__content {
  margin-top: 111px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.connection .connection__content .connection__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 588px;
}

.connection .connection__content .connection__form .connection__lable,
.connection .connection__content .connection__form .connection__input,
.connection .connection__content .connection__form .connection__button {
  display: inline-block;
}

.connection .connection__content .connection__form .connection__lable {
  font-size: 30.1538px;
  line-height: 41px;
  margin-bottom: 12px;
}

.connection .connection__content .connection__form .connection__input {
  padding: 20px 26px;
  font-size: 30.1538px;
  line-height: 35px;
  margin-bottom: 30px;
}

.connection .connection__content .connection__form .connection__input::-webkit-input-placeholder {
  color: #5f5f5f;
  font-size: 30.1538px;
  line-height: 35px;
}

.connection .connection__content .connection__form .connection__input:-ms-input-placeholder {
  color: #5f5f5f;
  font-size: 30.1538px;
  line-height: 35px;
}

.connection .connection__content .connection__form .connection__input::-ms-input-placeholder {
  color: #5f5f5f;
  font-size: 30.1538px;
  line-height: 35px;
}

.connection .connection__content .connection__form .connection__input::placeholder {
  color: #5f5f5f;
  font-size: 30.1538px;
  line-height: 35px;
}

.connection .connection__content .connection__form .connection__button {
  margin-top: 120px;
  color: #1f1f1f;
  font-weight: 600;
  background-color: #ffe600;
  -webkit-box-shadow: 5px -2px 25px rgba(255, 255, 255, 0.5);
          box-shadow: 5px -2px 25px rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 100px;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  font-size: 31.3846px;
  line-height: 43px;
  padding: 46px 54px 47px 54px;
}

.connection .connection__content .connection__form .connection__button:hover {
  -webkit-box-shadow: -2.09231px 46.0308px 70.0923px -29.2923px rgba(255, 230, 0, 0.89), inset 1.04615px -9.41538px 12.5538px rgba(0, 0, 0, 0.13), inset 5.23077px -2.09231px 26.1538px rgba(255, 255, 255, 0.5);
          box-shadow: -2.09231px 46.0308px 70.0923px -29.2923px rgba(255, 230, 0, 0.89), inset 1.04615px -9.41538px 12.5538px rgba(0, 0, 0, 0.13), inset 5.23077px -2.09231px 26.1538px rgba(255, 255, 255, 0.5);
}

.connection .connection__content .connection__image-wrapper {
  width: 844px;
  min-width: 844px;
  height: 584px;
  min-height: 584px;
  border-radius: 30px;
  overflow: hidden;
  border: 1px solid #e0e0e0;
}

.connection .connection__content .connection__image {
  display: block;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.footer {
  margin-top: 208px;
  padding: 81px 0 103px;
  background-color: #e1e1e1;
  font-size: 27px;
  line-height: 37px;
}

.footer .container,
.footer .navigation-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .navigation-conteiner {
  max-width: 587px;
  width: 100%;
}

.footer .logo {
  display: block;
  padding-bottom: 35px;
}

.footer .nav__li {
  margin-bottom: 8px;
}

.footer .nav__link {
  -webkit-transition: ease-in-out 0.1s;
  transition: ease-in-out 0.1s;
}

.footer .nav__link:hover {
  color: #5f5f5f;
}

.footer .navigation-conteiner__nav + .navigation-conteiner__nav {
  margin-left: 30px;
}

.footer .phone__call {
  margin-bottom: 8px;
}

.footer .phone__recall {
  margin-bottom: 20px;
}

.footer .phone__recall:hover {
  color: #5f5f5f;
}
/*# sourceMappingURL=style.css.map */