html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 10px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  color: #1f1f1f;
}

body.--scroll-hiden {
  overflow: hidden;
}

.container {
  max-width: 1760px;
  padding: 0 20px;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #1f1f1f;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

strong {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #1f1f1f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 6rem;
  line-height: 118.68%;
}

h3 {
  text-transform: uppercase;
  font-size: 4.98113rem;
  line-height: 118.68%;
}

h5 {
  font-size: 3.6rem;
  line-height: 118.68%;
  text-transform: uppercase;
}

input,
textarea {
  outline: none;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

input[type="text"],
textarea {
  border: 2.15385px solid #bdbdbd;
  border-radius: 12.9231px;
}

input[type="text"]:focus {
  background-color: #ffe600;
  border: 2.15385px solid #ffe600;
}

input[type="text"]:focus input[type="text"]::-webkit-input-placeholder {
  color: white;
}

input[type="text"]:focus input[type="text"]:-ms-input-placeholder {
  color: white;
}

input[type="text"]:focus input[type="text"]::-ms-input-placeholder {
  color: white;
}

input[type="text"]:focus input[type="text"]::placeholder {
  color: white;
}

button {
  cursor: pointer;
}

.header {
  display: block;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 178px;
  margin-top: 40px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #f2e464;
}

.header-top__logo img {
  height: 76px;
  margin-bottom: 8px;
  display: block;
}

.messengers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 127px;
}

.messengers .messenger + .messenger {
  margin-left: 20px;
}

.messengers .messenger {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.messengers .messenger__img {
  height: 41px;
  width: 41px;
  display: block;
}

.messengers .messenger:hover {
  -webkit-transform: translateY(-2px) scale(1.1);
          transform: translateY(-2px) scale(1.1);
}

.header-bottom {
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-bottom .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-bottom .nav__li + .nav__li {
  margin-left: 50px;
}

.header-bottom .nav__link {
  font-size: 2.39404rem;
  line-height: 3.3rem;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.header-bottom .nav__link:hover {
  color: #f2e464;
}

.phone a {
  display: block;
}

.phone .phone__call {
  margin-right: 27px;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 2.7rem;
  line-height: 3.7rem;
}

.phone .phone__recall {
  font-size: 2rem;
  line-height: 2.7rem;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.phone .phone__recall:hover {
  color: #f2e464;
}

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.about .container .header-content {
  max-width: 698px;
}

.about .container .header-content .header-content__text {
  margin-top: 55px;
  margin-bottom: 226px;
  font-size: 3.6rem;
  line-height: 4.9rem;
}

.about .container .header-content .header-content__button {
  color: #1f1f1f;
  font-weight: 600;
  background-color: #ffe600;
  -webkit-box-shadow: 5px -2px 25px rgba(255, 255, 255, 0.5);
          box-shadow: 5px -2px 25px rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 100px;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  display: inline-block;
  font-size: 3rem;
  line-height: 4.1rem;
  padding: 44px 52px;
}

.about .container .header-content .header-content__button:hover {
  -webkit-box-shadow: -2.09231px 46.0308px 70.0923px -29.2923px rgba(255, 230, 0, 0.89), inset 1.04615px -9.41538px 12.5538px rgba(0, 0, 0, 0.13), inset 5.23077px -2.09231px 26.1538px rgba(255, 255, 255, 0.5);
          box-shadow: -2.09231px 46.0308px 70.0923px -29.2923px rgba(255, 230, 0, 0.89), inset 1.04615px -9.41538px 12.5538px rgba(0, 0, 0, 0.13), inset 5.23077px -2.09231px 26.1538px rgba(255, 255, 255, 0.5);
}

.about .container .about__img {
  width: 938px;
  height: 1062px;
  display: block;
}

.work-cases .container {
  max-width: 1920px;
  padding: 0 20px;
  margin: 0 auto;
}

.work-cases__header {
  text-align: center;
  margin: 108px 0 76px;
}

.work-cases .tabs__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 635px;
}

.work-cases .nav__item {
  color: #5f5f5f;
  font-weight: 600;
  background-color: #e1e1e1;
  border: none;
  border-radius: 100px;
  text-align: center;
  padding: 25px 67px;
  font-size: 2.45626rem;
  line-height: 3.3rem;
  cursor: pointer;
}

.work-cases .nav__item.--active {
  color: #1f1f1f;
  font-weight: 600;
  background-color: #ffe600;
  -webkit-box-shadow: 5px -2px 25px rgba(255, 255, 255, 0.5);
          box-shadow: 5px -2px 25px rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 100px;
}

.work-cases .nav__item.--active:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.work-cases .tab {
  display: none;
}

.work-cases .tab.--active {
  display: block;
}

.work-cases__card {
  position: relative;
  height: 416px;
  width: 315px;
  border-radius: 20px;
  background: #ffffff;
  overflow: hidden;
  -webkit-box-shadow: 1.37613px 4.12838px 34.4032px rgba(0, 0, 0, 0.14);
          box-shadow: 1.37613px 4.12838px 34.4032px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 1.14298px 3.42894px 28.5745px rgba(0, 0, 0, 0.14);
          box-shadow: 1.14298px 3.42894px 28.5745px rgba(0, 0, 0, 0.14);
  border-radius: 17.1447px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.work-cases__card::before {
  content: "";
  position: absolute;
  top: 1.92%;
  left: 3.26%;
  bottom: 2.88%;
  right: 3.26%;
  border: 2px solid #e0e0e0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 17.1447px;
}

.work-cases__card:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.work-cases__card .card__img-wrapper {
  width: 100%;
  height: 51%;
  overflow: hidden;
}

.work-cases__card .card__img-wrapper .card__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-bottom: 1px solid #e0e0e0;
}

.work-cases__card .card__content {
  padding: 18px 28px 0 30px;
  color: #000000;
}

.work-cases__card .card__content .card__header {
  font-size: 2.05736rem;
  line-height: 118.68%;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.work-cases__card .card__content .card__text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  line-clamp: 6;
  box-orient: vertical;
  width: 100%;
  font-size: 1.14298rem;
  line-height: 1.6rem;
  letter-spacing: -0.04em;
}

.work-cases__card .card__content .card__price {
  position: absolute;
  width: 82%;
  font-weight: 600;
  font-size: 1.71447rem;
  line-height: 2.3rem;
  text-align: right;
  right: 27px;
  bottom: 24px;
  border-top: 1px solid #e0e0e0;
}

.work-cases__fences-slider,
.work-cases__gates-slider {
  padding: 100px 80px;
}

.work-cases__fences-slider .slider-button,
.work-cases__gates-slider .slider-button {
  top: 45%;
  display: none;
}

.promotion {
  margin-top: 108px;
}

.promotion__header {
  text-align: center;
}

.promotion .promotion__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.promotion .promotion__content .promotion-card {
  margin-top: 120px;
  width: 390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promotion .promotion__content .promotion-card:hover .promotion-card__img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.promotion .promotion__content .promotion-card__img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 262px;
  max-height: 262px;
  border-radius: 100%;
  overflow: hidden;
  border: 2px solid #e0e0e0;
}

.promotion .promotion__content .promotion-card__img {
  display: block;
  margin: auto;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
}

.promotion .promotion__content .promotion-card__text {
  margin-top: 38.8px;
  text-align: center;
}

.promotion .promotion__content .promotion-card__text strong {
  word-wrap: break-word;
}

.principles {
  margin-top: 208px;
  padding-bottom: 100px;
}

.principles__header {
  text-align: center;
}

.principles .principles__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.principles .principles__content .principles-card {
  margin-top: 120px;
  width: 279px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.principles .principles__content .principles-card:hover .principles-card__img {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.principles .principles__content .principles-card__img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 146px;
}

.principles .principles__content .principles-card__img {
  display: block;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.principles .principles__content .principles-card__text {
  margin-top: 38.8px;
  text-align: center;
  font-size: 3.6rem;
  line-height: 118.68%;
}

.slide-card {
  width: 776px;
  height: 490px;
  border-radius: 30px;
  -webkit-box-shadow: -0.90758px 18.1517px 30.8578px rgba(255, 230, 0, 0.23), 1.81517px 5.4455px 45.3791px rgba(0, 0, 0, 0.14);
          box-shadow: -0.90758px 18.1517px 30.8578px rgba(255, 230, 0, 0.23), 1.81517px 5.4455px 45.3791px rgba(0, 0, 0, 0.14);
  overflow: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.slide-card__img {
  display: block;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.swiper-slide-active {
  -webkit-transform: scale(1.1) translateY(-4.5%);
          transform: scale(1.1) translateY(-4.5%);
}

.slider-button {
  width: 114px;
  height: 114px;
  cursor: pointer;
  border-radius: 100%;
  overflow: hidden;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.slider-button:hover {
  -webkit-box-shadow: -2px 25px 67px -28px rgba(255, 230, 0, 0.59), inset 1px -9px 12px rgba(0, 0, 0, 0.13), inset 5px -2px 25px rgba(255, 255, 255, 0.5);
          box-shadow: -2px 25px 67px -28px rgba(255, 230, 0, 0.59), inset 1px -9px 12px rgba(0, 0, 0, 0.13), inset 5px -2px 25px rgba(255, 255, 255, 0.5);
}

.swiper-button-prev {
  background-image: url("../assets/icons/slider-arrow.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  left: 100px;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-button-next {
  background-image: url("../assets/icons/slider-arrow.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  right: 100px;
}

.swiper-button-next::after {
  display: none;
}

.feedback .slide__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 49px 44px 50px 57px;
}

.feedback .slide__top .person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback .slide__top .person__photo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 142px;
  height: 142px;
  margin-right: 46px;
  border-radius: 100%;
  overflow: hidden;
}

.feedback .slide__top .person__photo-wrapper .person__photo {
  display: block;
  width: 142px;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.feedback .slide__top .person__info .name {
  margin: 22px 0 15px;
}

.feedback .slide__top .person__info .status {
  font-weight: 600;
  font-size: 3rem;
  line-height: 118.68%;
  color: #bdbdbd;
  text-transform: lowercase;
}

.feedback .slide__top .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 22px;
}

.feedback .slide__top .stars .star {
  width: 34px;
  height: 34px;
  display: block;
}

.feedback .slide__top .stars .star + .star {
  margin-left: 4px;
}

.feedback .slide__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 44px 0 63px;
}

.feedback .slide__bottom .quote-wrapper .quote {
  width: 26px;
  height: 19px;
  margin-right: 30px;
  display: block;
}

.feedback .slide__bottom .quote-text {
  max-height: 165px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  line-clamp: 5;
  box-orient: vertical;
  font-size: 2.72275rem;
  line-height: 118.68%;
}

.our-work,
.feedback {
  margin-top: 108px;
}

.our-work .our-work__header,
.our-work .feedback__header,
.feedback .our-work__header,
.feedback .feedback__header {
  text-align: center;
}

.our-work .our-work-slider,
.our-work .feedback-slider,
.feedback .our-work-slider,
.feedback .feedback-slider {
  position: relative;
  max-width: 1920px;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.our-work .our-work-slider__wrapper,
.our-work .feedback-slider__wrapper,
.feedback .our-work-slider__wrapper,
.feedback .feedback-slider__wrapper {
  padding: 113px 0 100px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-height: 533px;
}

.our-work {
  margin-top: 78px;
}

.connection {
  margin-top: 108px;
}

.connection__header {
  margin: 0 auto;
  max-width: 853px;
  text-align: center;
}

.connection .connection__content {
  margin-top: 111px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.connection .connection__content .connection__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 588px;
}

.connection .connection__content .connection__form .connection__lable,
.connection .connection__content .connection__form .connection__input,
.connection .connection__content .connection__form .connection__button,
.connection .connection__content .connection__form .connection__textarea {
  display: inline-block;
}

.connection .connection__content .connection__form .connection__lable {
  font-size: 3.01538rem;
  line-height: 4.1rem;
  margin-bottom: 12px;
}

.connection .connection__content .connection__form .connection__input {
  padding: 20px 26px;
  font-size: 3.01538rem;
  line-height: 3.5rem;
  margin-bottom: 30px;
}

.connection .connection__content .connection__form .connection__input::-webkit-input-placeholder {
  color: #5f5f5f;
  font-size: 3.01538rem;
  line-height: 3.5rem;
}

.connection .connection__content .connection__form .connection__input:-ms-input-placeholder {
  color: #5f5f5f;
  font-size: 3.01538rem;
  line-height: 3.5rem;
}

.connection .connection__content .connection__form .connection__input::-ms-input-placeholder {
  color: #5f5f5f;
  font-size: 3.01538rem;
  line-height: 3.5rem;
}

.connection .connection__content .connection__form .connection__input::placeholder {
  color: #5f5f5f;
  font-size: 3.01538rem;
  line-height: 3.5rem;
}

.connection .connection__content .connection__form .connection__textarea {
  overflow: auto;
  resize: none;
  padding: 20px 26px;
  font-size: 3.01538rem;
  line-height: 3.5rem;
  margin-bottom: 30px;
}

.connection .connection__content .connection__form .connection__textarea::-webkit-input-placeholder {
  color: #5f5f5f;
  font-size: 3.01538rem;
  line-height: 3.5rem;
}

.connection .connection__content .connection__form .connection__textarea:-ms-input-placeholder {
  color: #5f5f5f;
  font-size: 3.01538rem;
  line-height: 3.5rem;
}

.connection .connection__content .connection__form .connection__textarea::-ms-input-placeholder {
  color: #5f5f5f;
  font-size: 3.01538rem;
  line-height: 3.5rem;
}

.connection .connection__content .connection__form .connection__textarea::placeholder {
  color: #5f5f5f;
  font-size: 3.01538rem;
  line-height: 3.5rem;
}

.connection .connection__content .connection__form .connection__textarea:focus {
  border-radius: 0px;
}

.connection .connection__content .connection__form .connection__button {
  margin-top: 50px;
  color: #1f1f1f;
  font-weight: 600;
  background-color: #ffe600;
  -webkit-box-shadow: 5px -2px 25px rgba(255, 255, 255, 0.5);
          box-shadow: 5px -2px 25px rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 100px;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  font-size: 3.13846rem;
  line-height: 4.3rem;
  padding: 46px 54px 47px 54px;
}

.connection .connection__content .connection__form .connection__button:hover {
  -webkit-box-shadow: -2.09231px 46.0308px 70.0923px -29.2923px rgba(255, 230, 0, 0.89), inset 1.04615px -9.41538px 12.5538px rgba(0, 0, 0, 0.13), inset 5.23077px -2.09231px 26.1538px rgba(255, 255, 255, 0.5);
          box-shadow: -2.09231px 46.0308px 70.0923px -29.2923px rgba(255, 230, 0, 0.89), inset 1.04615px -9.41538px 12.5538px rgba(0, 0, 0, 0.13), inset 5.23077px -2.09231px 26.1538px rgba(255, 255, 255, 0.5);
}

.connection .connection__content .connection__image-wrapper {
  width: 844px;
  min-width: 844px;
  height: 584px;
  min-height: 584px;
  border-radius: 30px;
  overflow: hidden;
  border: 1px solid #e0e0e0;
}

.connection .connection__content .connection__image {
  display: block;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.footer {
  margin-top: 208px;
  padding: 81px 0 103px;
  background-color: #e1e1e1;
  font-size: 2.7rem;
  line-height: 3.7rem;
}

.footer .container,
.footer .navigation-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .navigation-conteiner {
  max-width: 587px;
  width: 100%;
}

.footer .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 358px;
  width: 100%;
}

.footer .logo {
  width: 257px;
  height: 83px;
  display: block;
  margin-bottom: 35px;
}

.footer .logo-container__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .logo-container__contacts .logo-container__link {
  position: relative;
  padding-left: 45px;
  color: #000000;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.footer .logo-container__contacts .logo-container__link:hover {
  color: #5f5f5f;
}

.footer .logo-container__contacts .logo-container__link + .logo-container__link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.footer .logo-container__contacts .logo-container__link:first-child::before {
  content: "";
  position: absolute;
  width: 29px;
  height: 29px;
  background-image: url(../assets/icons/adress.svg);
  left: 0;
  top: 5px;
}

.footer .logo-container__contacts .logo-container__link:last-child::before {
  content: "";
  position: absolute;
  width: 31px;
  height: 31px;
  background-image: url(../assets/icons/email.svg);
  left: 0;
  top: 5px;
}

.footer .nav__li {
  margin-bottom: 8px;
}

.footer .nav__link {
  color: #000000;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.footer .nav__link:hover {
  color: #5f5f5f;
}

.footer .navigation-conteiner__nav + .navigation-conteiner__nav {
  margin-left: 30px;
}

.footer .phone__call {
  margin-bottom: 8px;
  color: #000000;
}

.footer .phone__recall {
  margin-bottom: 20px;
  color: #000000;
}

.footer .phone__recall:hover {
  color: #5f5f5f;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  max-width: 1200px;
  width: 95%;
  max-height: 900px;
  height: 95%;
  z-index: 10;
  background-color: #fff;
  border-radius: 100px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.modal.--active {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.modal .modal-tabs {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 54px 20px;
}

.modal .modal-tabs__content {
  height: 100%;
}

.modal .modal-tabs__nav {
  position: absolute;
  right: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal .modal-nav__item {
  text-align: center;
  font-size: 2.45626rem;
  line-height: 3.3rem;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.modal .modal-nav__item + .modal-nav__item {
  margin-left: 20px;
}

.modal .modal-nav__item.--active {
  font-weight: 700;
  text-decoration: underline;
}

.modal .modal-tab {
  width: 100%;
  height: 100%;
  display: none;
}

.modal .modal-tab.--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal .modal-tab .tab__images {
  position: relative;
  width: 40%;
  height: 100%;
  margin: 0 20px;
  overflow: hidden;
}

.modal .modal-tab .tab__images .image__wrapper-1 {
  width: 100%;
  height: 100%;
  border-radius: 60px;
  overflow: hidden;
}

.modal .modal-tab .tab__images .image__wrapper-1 img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.modal .modal-tab .tab__images .image__wrapper-2 {
  width: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 30px;
  overflow: hidden;
}

.modal .modal-tab .tab__images .image__wrapper-2 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.modal .modal-tab .tab__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 65%;
  padding: 60px 20px 0 20px;
}

.modal .modal-tab .tab__content .content__top,
.modal .modal-tab .tab__content .content__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 121.68%;
}

.modal .modal-tab .tab__content .content__top {
  height: 50%;
}

.modal .modal-tab .tab__content .content__top .modal-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  line-clamp: 5;
  box-orient: vertical;
}

.modal .modal-tab .tab__content .content__top table {
  width: 100%;
  font-size: 2rem;
  border-collapse: collapse;
  border-radius: 30px;
  border-style: hidden;
  -webkit-box-shadow: 0 0 0 3px #1f1f1f;
          box-shadow: 0 0 0 3px #1f1f1f;
  text-align: center;
  margin-bottom: 50px;
}

.modal .modal-tab .tab__content .content__top th,
.modal .modal-tab .tab__content .content__top td {
  padding: 15px 0;
  border-bottom: 3px solid #1f1f1f;
}

.modal .modal-tab .tab__content .content__top td {
  border-left: 3px solid #1f1f1f;
}

.modal .modal-tab .tab__content .content__bottom {
  height: 50%;
}

.modal .modal-tab .tab__content .content__bottom .notes .note + .note {
  margin-top: 9px;
}

.modal .modal-tab .tab__content .content__bottom .note {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  box-orient: vertical;
}

.modal .modal-tab .tab__content .content__bottom .colors__header {
  margin: 18px 0;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 121.68%;
}

.modal .modal-tab .tab__content .content__bottom .colors__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.modal .modal-tab .tab__content .content__bottom .colors__container .color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .modal-tab .tab__content .content__bottom .colors__container .color + .color {
  margin-left: 48px;
}

.modal .modal-tab .tab__content .content__bottom .colors__container .color__immage {
  max-width: 86px;
  max-height: 100px;
  overflow: hidden;
}

.modal .modal-tab .tab__content .content__bottom .colors__container .color__immage img {
  width: 86px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.modal .modal-tab .tab__content .content__bottom .colors__container .color__name {
  margin-top: 2px;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 121.68%;
}

.modal .close-button {
  position: absolute;
  top: 50px;
  right: 50px;
  display: inline-block;
  padding: 0;
  background: none;
  border: none;
  z-index: 2;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.modal .close-button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.modal .close-button .close-button__img {
  display: block;
  width: 35px;
  height: 35px;
}

.modal-overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.14);
  z-index: 9;
  pointer-events: none;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.modal-overlay.--active {
  opacity: 1;
  pointer-events: all;
}

#modal-order {
  left: 250%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 11;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
}

#modal-order.--active {
  left: 50%;
}

#modal-order .modal__content {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#modal-order .modal__content .modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 588px;
  width: 100%;
}

#modal-order .modal__content .modal__form .modal__lable,
#modal-order .modal__content .modal__form .modal__input,
#modal-order .modal__content .modal__form .modal__button,
#modal-order .modal__content .modal__form .modal__textarea {
  display: inline-block;
}

#modal-order .modal__content .modal__form .modal__lable {
  font-size: 2.5rem;
  line-height: 3.5rem;
  margin-bottom: 12px;
}

#modal-order .modal__content .modal__form .modal__input {
  padding: 20px 26px;
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 30px;
}

#modal-order .modal__content .modal__form .modal__input::-webkit-input-placeholder {
  color: #5f5f5f;
  font-size: 2rem;
  line-height: 2.5rem;
}

#modal-order .modal__content .modal__form .modal__input:-ms-input-placeholder {
  color: #5f5f5f;
  font-size: 2rem;
  line-height: 2.5rem;
}

#modal-order .modal__content .modal__form .modal__input::-ms-input-placeholder {
  color: #5f5f5f;
  font-size: 2rem;
  line-height: 2.5rem;
}

#modal-order .modal__content .modal__form .modal__input::placeholder {
  color: #5f5f5f;
  font-size: 2rem;
  line-height: 2.5rem;
}

#modal-order .modal__content .modal__form .modal__textarea {
  overflow: auto;
  resize: none;
  padding: 20px 26px;
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 30px;
}

#modal-order .modal__content .modal__form .modal__textarea::-webkit-input-placeholder {
  color: #5f5f5f;
  font-size: 2rem;
  line-height: 2.5rem;
}

#modal-order .modal__content .modal__form .modal__textarea:-ms-input-placeholder {
  color: #5f5f5f;
  font-size: 2rem;
  line-height: 2.5rem;
}

#modal-order .modal__content .modal__form .modal__textarea::-ms-input-placeholder {
  color: #5f5f5f;
  font-size: 2rem;
  line-height: 2.5rem;
}

#modal-order .modal__content .modal__form .modal__textarea::placeholder {
  color: #5f5f5f;
  font-size: 2rem;
  line-height: 2.5rem;
}

#modal-order .modal__content .modal__form .modal__textarea:focus {
  border-radius: 0px;
}

#modal-order .modal__content .modal__form .modal__button {
  margin-top: 50px;
  color: #1f1f1f;
  font-weight: 600;
  background-color: #ffe600;
  -webkit-box-shadow: 5px -2px 25px rgba(255, 255, 255, 0.5);
          box-shadow: 5px -2px 25px rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 100px;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  font-size: 2.5rem;
  line-height: 3rem;
  padding: 46px 54px 47px 54px;
}

#modal-order .modal__content .modal__form .modal__button:hover {
  -webkit-box-shadow: -2.09231px 46.0308px 70.0923px -29.2923px rgba(255, 230, 0, 0.89), inset 1.04615px -9.41538px 12.5538px rgba(0, 0, 0, 0.13), inset 5.23077px -2.09231px 26.1538px rgba(255, 255, 255, 0.5);
          box-shadow: -2.09231px 46.0308px 70.0923px -29.2923px rgba(255, 230, 0, 0.89), inset 1.04615px -9.41538px 12.5538px rgba(0, 0, 0, 0.13), inset 5.23077px -2.09231px 26.1538px rgba(255, 255, 255, 0.5);
}

.need-help {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 3;
  font-size: 2rem;
  line-height: 2rem;
  padding: 15px 15px;
  cursor: pointer;
  color: #1f1f1f;
  font-weight: 600;
  background-color: #ffe600;
  -webkit-box-shadow: 5px -2px 25px rgba(255, 255, 255, 0.5);
          box-shadow: 5px -2px 25px rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 100px;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  background-color: #74f052;
}

.need-help:hover {
  -webkit-box-shadow: -2.09231px 46.0308px 70.0923px -29.2923px rgba(255, 230, 0, 0.89), inset 1.04615px -9.41538px 12.5538px rgba(0, 0, 0, 0.13), inset 5.23077px -2.09231px 26.1538px rgba(255, 255, 255, 0.5);
          box-shadow: -2.09231px 46.0308px 70.0923px -29.2923px rgba(255, 230, 0, 0.89), inset 1.04615px -9.41538px 12.5538px rgba(0, 0, 0, 0.13), inset 5.23077px -2.09231px 26.1538px rgba(255, 255, 255, 0.5);
}

.need-help__icon {
  display: block;
  width: 40px;
  height: 40px;
  -webkit-animation: ring 2s ease-in-out 3;
  animation: ring 2s ease-in-out 3;
}

.header__menu-burger {
  z-index: 13;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  background-color: #f2e464;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__menu-burger.--active {
  pointer-events: all;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header__menu-burger .menu__close-button {
  position: absolute;
  top: 23px;
  right: 17px;
  display: inline-block;
  padding: 0;
  background: none;
  border: none;
  z-index: 2;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.header__menu-burger .menu__close-button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.header__menu-burger .menu__close-button .menu__close-button__img {
  display: block;
  width: 35px;
  height: 35px;
}

.header__menu-burger .contacts {
  display: block;
}

.header__menu-burger .contacts .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu-burger .contacts .phone .messengers {
  margin: 0 0 10px 0;
}

.header__menu-burger .contacts .phone__call {
  font-size: 3.5rem;
  margin: 0 0 12px 0;
}

.header__menu-burger .contacts .phone .phone__recall {
  font-size: 3rem;
}

.header__menu-burger .contacts .phone .phone__recall:hover {
  color: #000000;
}

.header__menu-burger-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header__menu-burger-list .header__menu-burger-li {
  font-size: 4rem;
  margin-bottom: 38px;
}

.header__menu-burger-list .header__menu-burger-li a {
  -webkit-transition: all 0.55s;
  transition: all 0.55s;
}

.header__menu-burger-list .header__menu-burger-li a:hover {
  text-decoration: underline;
}

.menu__burger {
  display: none;
  cursor: pointer;
  z-index: 3;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu__burger .menu__burger-img {
  width: 24px;
  height: 24px;
}

@-webkit-keyframes ring {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes ring {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media (max-width: 1800px) {
  .about .container .about__img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1580px) {
  .about .container {
    background-image: url("/assets/images/start-bg.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-size: 45%;
  }
  .about .container .header-content {
    margin-top: 240px;
  }
  .about .container .about__img-wrapper {
    display: none;
  }
}

@media (max-width: 1280px) {
  html {
    font-size: 9px;
  }
  .header .messengers {
    margin-right: 100px;
  }
  .about .container {
    background-size: 500px;
  }
}

@media (max-width: 1180px) {
  .menu__burger {
    display: block;
  }
  .menu__burger .menu__burger-img {
    width: 30px;
    height: 30px;
  }
  .header__nav {
    display: none;
  }
}

@media (max-width: 620px) {
  html {
    font-size: 7px;
  }
  .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 24;
    height: 80px;
  }
  .header .header-top {
    border-bottom: none;
  }
  .header .header-top .messengers {
    display: none;
  }
  .header .header-bottom .phone {
    display: none;
  }
  .header .header-bottom .header__menu-burger .phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .header-bottom .header__menu-burger .messengers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .header-bottom .header__menu-burger .menu__close-button__img {
    width: 24px;
    height: 24px;
  }
  .about .container {
    background-position: center 80%;
    background-size: 90% 50%;
  }
  .about .container .header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-top: 150px;
  }
  .about .container .header-content .header-content__text {
    margin-top: 20px;
    margin-bottom: 320px;
  }
  .menu__burger {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    margin-right: 70px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 5px;
  }
  .header .container {
    margin: 0;
  }
  .header-top {
    border-bottom: none;
  }
  .header-top__logo .logo {
    width: 99px;
    height: 32px;
  }
  .about .container {
    background-position: center 70%;
    background-size: 90% 50%;
  }
  .about .container .header-content {
    margin-top: 80px;
  }
  .about .container .header-content .header-content__text {
    margin-top: 15px;
    margin-bottom: 300px;
  }
  .need-help {
    right: 10px;
    bottom: 20px;
  }
  .need-help__icon {
    display: block;
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 320px) {
  .menu__burger {
    display: block;
  }
  .menu__burger .menu__burger-img {
    width: 24px;
    height: 24px;
  }
  .about .container {
    background-position: center 80%;
    background-size: 90% 50%;
  }
  .about .container .header-content {
    margin-top: 60px;
  }
  .about .container .header-content .header-content__text {
    margin-top: 15px;
    margin-bottom: 170px;
  }
}
/*# sourceMappingURL=style.css.map */