$black-color: #1F1F1F; //all text
$elloy-color: #FFE600; //active buttons bg
$gray-color: #E1E1E1; //inactive buttons bg
$dark-gray-color: #BDBDBD; // input border
$inactive-gray-color:#5F5F5F; //inactive buttons text
$card-gray-color: #E0E0E0;

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: $black-color;
}

.container{
  max-width: 1740px;
  padding: 0 10px;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $black-color;
  margin: 0;
  padding: 0;
}

strong {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: $black-color;
}

h3 {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 49.8113px;
  line-height: 118.68%;
}

input[type=text] {
  border: 2.15385px solid #BDBDBD;
  border-radius: 12.9231px;
}

input[type=text]:focus {
  background-color: lightblue;
}